/* ======== GENERAL ========= */

* {
    font-family: 'georama', sans-serif;
    font-size: 62.5%;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    position: relative;
    margin:0;
    min-height: 100%;
    padding-bottom: 0rem;
    box-sizing: inherit;
}


h1 {
    padding: 3rem 0 2rem 0;
    font-weight: 600;
    text-align: center;
}

/* ======= NAVBAR ======== */
.nav-item{
    font-size: 2rem;
    padding-right: 4rem; 
}


.navbar-brand{
    padding:  1rem 6rem 1rem 2rem;
}

.custom-navbar {
    background-color: #CBA328;
}

.nav-link {
    color: white;
}

.nav-link:hover{    
    color: #5C5346;
}
.nav--icon{
    font-size: 2.5rem;
}

.especial {
    display: none;
}

.dropdown-menu,
.dropdown-item {
    background-color: antiquewhite;
    font-size: 1.6rem;
}

.precio{
    margin-top: .4rem;
    margin-left: 4rem;
    font-weight: bold;
}

.precio a:hover{
    color: white;
    cursor: default;
}


@media (max-width: 992px) {
    .especial {
        display: contents;
    }

    .iconoSuperior {
        display: none;
    }
    .filtro-catalogo{
        display: none;
    }
    .contenedor-navbar-catalogo{
        display: hidden;
        border-right: none;

    }

}

/* ======= FOOTER ======== */
footer{
    margin-top:3rem ;
    font-size: 1.8rem;
    padding: 3.5rem;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #5C5346;
    
}


footer ul li a {
    padding: 0 1rem 0 1rem;
}


#facebookLogo:hover {
    animation: shaker 1s;
    animation-iteration-count: infinite;
}

#twitterLogo:hover {
    animation: shaker 1s;
    animation-iteration-count: infinite;
}

#instagramLogo:hover {
    animation: shaker 1s;
    animation-iteration-count: infinite;
}

@keyframes shaker {

    10%,
    90% {
        transform: translate(-1px, -2px);
    }

    20%,
    80% {
        transform: translate(-3px, -0px);
    }

    30%,
    50%,
    70% {
        transform: translate(-3px, 2px);
    }

    40%,
    60% {
        transform: translate(-1px, -1px);
    }
}

/* ========== CARDS ============== */

.title__card{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle__card{
    text-align: center;
    color: rgb(157, 140, 10);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-body{
    font-size: 2.5rem;
    color: #353028;
}

.card{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.card-team:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

/* ============= CONCACTO ================== */
.inf-contact {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 5%;
}

.dir-contact,
.tel-contact,
.email-contact {
    text-align: left;
    font-size: 1.2rem;
    padding-left: 5%;
}

.maps {
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
}

.colForm {
    text-align: left;
}

.container {
    margin-top: 2rem;
}

/* ============= PRODUCTOS ================== */

.container-products {
    width: 100%;
}

.catalogo-navbar {
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.catalogo-navbar ul{
    padding: 0;
}

.catalogo-navbar ul li {
    padding-bottom: 5rem;
}

.titulo-catalogo {
    text-align: center; 
}

.contenedor-navbar-catalogo {
    border-right: solid #353028;
    margin: 90px 0 10px 0;
}

.filtro-catalogo {
    font-size: 2.5rem;
    text-decoration: none;
    color: #353028;
    font-weight: bold;
    list-style-type: none;
}

.filtro-catalogo:hover {
    cursor: pointer;
    font-size: 2.8rem;
    transition: .5s;
    text-shadow: 2px 0px 1px#CBA328 ;
}

.btn-producto{
    font-size: 1.3rem;
    width:9rem; 
    margin: 1rem 2rem 2rem 0;
}